<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</head>
<body class="container">
    <form>
        <div class="input-group">
            <input id="zip-city" class="form-control" type="text" name="zipCity" placeholder="zipcode or city" autofocus required>
            <button type="submit" class="btn btn-primary">Go</button>
        </div>
    </form>
    <% if (data) { %> 

        <h1><%= data.location.name %> </h1>

        <!-- Today's forecast -->
        <% const today = data.forecast[1] %> 
        <div class="card">
            <div class="card-body">
                <h2>Today: <%= today.day %> <%= today.date %> </h2>
                <p>Range: <%= today.low %>&#730;- <%= today.high %>&#730;  </p>
            </div class="card-body">
        </div>
        
        <!-- Tomorrow's forecast -->
        <div class="card">
            <div class="card-body">
                <% const tomorrow = data.forecast[2] %> 
                <h2>Tomorrow: <%= tomorrow.day %> <%= tomorrow.date %> </h2>
                <p>Range: <%= tomorrow.low %>&#730;- <%= tomorrow.high %>&#730;  </p>
            </div class="card-body">
        </div>

    <% } else if (data === undefined) { %>
        <p style="color: red;">Error.  Please enter a valid zipcode or location.</p>
    <% } %> 
</body>
</html>